@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');

img {
    max-width: 100%;
    height: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    background-image: url("../images/hero-img.png");
    /* width: 1920px; */
    height: 550px;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.hero .container {
    height: 100%;
}

h1, p {
    font-family: "Plus Jakarta Sans", sans-serif;
}

h1 {
    font-size: 62px;
    font-weight: normal;
    text-transform: capitalize;
}

h2 {
    text-transform: capitalize;
    font-size: 40px;
}

h3 {
    text-align: center;
}

.heading {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

/* Sections */

section {
    width: 100% !important;
}

/* Advertizing */

.advertizing {
    /* width: 1920px; */
    padding: 60px 0;
    
}

.product {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.moto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}



.info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* INGREDIENTS */

.ingredients {
    padding: 60px 0;
    /* width: 1920px; */
}

.ingredients > div p {
    margin-top: 20px;
}

.ingredients .ingredients-info-images > div:first-child {
    text-align: center;
}

.ingredient-info > div:nth-child(3) {
    padding-left: 20px;
}

.ingredient-info ul {
    padding-left: 20px;
}


.ingredient-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ingredients-info-images {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.ingredients .flex-cards {
    flex-direction: column;
    gap: 20px;
}

.secondAdvertizing {
    padding: 80px 0 60px 0;
}

/* Green container */

.green-container {
    height: 242px;
    background-color: #549663;
    padding: 50px 0 80px 0;
    position: relative;
    /* margin-bottom: 40px; */
}

.smaller {
    height: 182px;
    position: relative;
}

.small-imgr {
    width: 250px;
    position: relative;
}

.small-imgr2 {
    width: 440px;
    height: 500px;
}



.benefits {
    /* width: 1920px; */
    padding: 100px 0 60px 0;
    background-color: #F1F0F5;
}


/* products-and-thoughts */

.products-and-thoughts {
    width: 1920px;
    padding: 80px 0 60px 0;
}

.flexy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-and-thoughts .text-card {
    height: 258px;
    background-color: #F1F0F5;
}

.products-and-thoughts .flex-container {
    gap: 40px;
}

.green-section {
    padding: 60px 40px;
    background-color: #549663;
    color: white;
    width: 100%;
    border-radius: 15px;
    /* border: 1px solid red; */
    position: relative;
    overflow: hidden;
}

.green-section h2 {
    text-align: center;
    margin-bottom: 40px;
}

.why-green-lean {
    padding: 60px 0;
    background-color: #F1F0F5;
}

.why-green-lean p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.flex-lists {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* height: 100%; */
    gap: 96px;
}

/* Safe & Effective */

.safe-effective {
    background: url("../images/effective-img.jpg");
    background-size: cover;
    opacity: 80%;
    padding: 60px 0;
}

.safe-effective h2 {
    text-align: center;
    margin-bottom: 40px;
}

.overlay {
    background-color: #F0D8A8;
    opacity: 80%;
}


.heading-n-text {
    padding: 20px 0;
}

.safe-effective p {
    text-align: center;
}


/* GRID CONTAINER */

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 30px;
    row-gap: 50px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(2,470px);
    column-gap: 30px;
    row-gap: 40px;
    /* align-items: center; */
    justify-content: center;
    margin-bottom: 40px;
}


/* SAFE & EFFECTIVE CONTAINER */

.safe-effective .container .grid-container {
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(2, 470px);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    place-items: center;
}


.safe-effective h3 {
    margin-bottom: 10px;
}

/* FAQ */

.faq {
    padding: 60px 0;
    background-color: #F1F0F5;
}

.faq h2 {
    text-align: center;
    margin-bottom: 40px;
}

.accordions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.accordionBox {
    border-radius: 15px;
}

.top-of-box {
    background-color: #549663;
    color: white;
    /* border-top-left-radius: 15px;
    border-top-right-radius: 15px; */
    border-radius: 15px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.body-of-box {
    background-color: #ffffff;
    /* padding: 20px 30px; */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    max-height: 0;
    overflow: hidden;
    /* overflow-y: hidden; */
    transition: max-height 0.5s ease;
}

.body-of-box p {
    padding: 20px 30px;
}

.top-of-box.active .smallArrow {
    transform: rotate(-180deg);

}

.smallArrow {
    transition: transform 0.2s ease;
}

/* .top-of-box.active .body-of-box {
    max-height: auto;
} */

/* FOOTER */

footer {
    padding: 50px 0;
}

.links {
    list-style-type: none;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.links li a{
    font-size: 16px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.info2 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}


/* FLEX CONTAINER */

.flex-container {
    display: flex;
    flex-direction: column;
    gap: 49px;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/* CARDS */

.flex-cards {
    display: flex;
    gap: 30px;
    
    /* height: 258px; */
    /* background-color: #F1F0F5; */
}


.text-card {
    width: 570px;
    background-color: #FFFFFF;
    padding: 50px 30px 20px 30px;
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}


.flex-stars {
    display: flex;
    justify-content: space-between;
}

.stars{
    justify-self: center;
    align-self: center
}

.card2 {
    text-align: left;
}

.card3 {
    padding: 30px;
    display: flex;
    gap: 30px;
    /* border: 1px solid gray; */
    border-radius: 15px;
    background-color: #F7F7F7;
    box-shadow: -1px -2px 45px -9px rgba(0,0,0,0.43);

}

.card4 {
    padding: 30px 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: -1px -2px 45px -9px rgba(0,0,0,0.43);

}

.card {
    width: 400px;
    height: 694px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0 0 25px 0;
}

.body-of-card {
    padding: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.pricing {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
}

.buying {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creams {
    display: flex;
    gap: 20px;
    justify-content: center;
}


/* CARD BENEFITS */

.card-benefits {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 570px;
}

.body-of-card2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}



/* Sizes */

.big {
    font-size: 36px;
}

.bolded {
    font-weight: bold;
}

.small14 {
    font-size: 14px;
}

.small16 {
    font-size: 16px;
}

.small20 {
    font-size: 20px;
}

.small22 {
    font-size: 22px;
}

.small24 {
    font-size: 24px;
}

.medium25 {
    font-size: 25px;
}

.big28 {
    font-size: 28px;
}

.big30 {
    font-size: 30px;
}

.big40 {
    font-size: 40px;
}

.big50 {
    font-size: 50px;
}

.very-big {
    font-size: 52px;
}

.smaller-img {
    width: 360px;
}

.small-img {
    width: 700px;
}

.safe-effective .small-img {
    margin: 0 auto;
    display: block;
    margin-top: 15px;
}

.secondAdvertizing .small-img {
    margin: 0 auto;
    margin-top: 30px;
    display: block;
}

.secondGreenSection {
    padding: 60px 0;
    background-color:#F1F0F5;
}



/* Colors */

.green-container {
    color: white;
    text-align: center;
}

.yellow-btn {
    background-color: #FFD800;
    padding: 25px 226.5px;
    width: 600px;
    color: black;
    border-radius: 10px;
    /* margin: 0 auto; */
    align-self: center;
}

.btn2 {
    /* padding: 250px 226.5px; */
    width: 600px;
    color: black;
    text-align: center;
    border-radius: 10px;
    background-color: linear-gradient(#FFD800, #FFD800);
}

.benefits .btn , .safe-effective .btn{
    text-align: center;
    width: 600px;
    padding: 25px 226.5px;
    font-size: 30px;
    display: block;
    margin: 0 auto;
}

.yellow-btn a {
    color: black;
}

.green {
    color: #549663;
    font-weight: bold;
}

.slight-green {
    background-color: #E6ECE080;
}

.greenish {
    background-color: #549663;
    padding: 22px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

.brownish {
    background-color: #F0D8A8;
    padding: 22px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.red {
    color: red;
}

/* .yellow {
    background-color: #FFD800;
    border-radius: 10px;
    padding: 12px 50px 12px 50px;
    width: 340px;
} */




/* Decorations */

.arrowdown {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 202px;
    left: 47.5%;
    width: 80px;
    height: 80px;
    background-color: #F1F0F5;
    border-radius: 50%;
}

.smaller .arrowdown {
    position: absolute;
    top: 142px;
    /* left: 50%; */
    margin-bottom: 40px;
}

.striked {
    text-decoration: line-through;
}

.pouches {
    position: relative;
}

.pouches2 {
    position: relative;
}

.pouches::before {
    content: '';
    position: absolute;
    background-image: url("../images/Frame.png");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    top: -10px;
    right: 0px;
}

.pouches2 {
    position: relative;
    float: right;
    margin-left: 10px;
}

.pouches2::before {
    content: '';
    position: absolute;
    background-image: url("../images/frame2.png");
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    top: 0;
    right: -40px;
    z-index: 999;
    background-size: contain;
}

.text-card::before {
    content: '';
    position: absolute;
    background-image: url("../images/bxs_quote-alt-left.png");
    background-repeat: no-repeat;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
}

.green-section::before {
    content: '';
    position: absolute;
    background-image: url("../images/MBG.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 600px;
    height: 500px;
    opacity: 20%;
    top: 360px;
    right: -200px;
    transform: rotate(30deg);
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}

.normalWeight {
    font-weight: normal;
}


.btn {
    background: linear-gradient(#FFD800, #FFD800);
    border-radius: 10px;
    padding: 12px 50px 12px 50px;
    width: 340px;
    margin: 10px;
    color: black;
}

.btn:hover{
    background: linear-gradient(#FFD800, #debd00);
}

a:active {
    color: #549663;
}

.paddings {
    padding-right: 40px;
    padding-left: 0px;
}

.first-list {
    list-style-type: none;
    text-align: right;
}

.first-list li {
    position: relative;
    margin-bottom: 30px;
}

.first-list li::after {
    content: '';
    position: absolute;
    background-image: url("../images/task_alt.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 3px;
    right: 0;
    width: 30px;
    height: 30px;
    margin-right: -40px;
}

.second-list {
    list-style-type: none;
}

.second-list li {
    position: relative;
    margin-bottom: 30px;
}

.second-list li::before {
    content: '';
    position: absolute;
    background-image: url("../images/task_alt.png");
    background-repeat: no-repeat;
    background-size: contain;
    top: 3px;
    left: -40px;
    width: 30px;
    height: 30px;
}

.centered {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.center {
    text-align: center;
}

.bordered {
    margin-top: 20px;
    padding: 10px 0;
    border: 2px solid gray;
}